* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #8a3fab; /* Cor de fundo da página */
  color: #fff; /* Cor do texto */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Altura total da janela */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  background-color: #90e0e0; /* Cor de fundo dos botões */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #ade8f4; /* Cor ao passar o mouse */
}

.tab.active {
  background-color: #0077b6; /* Cor do botão ativo */
}

.algorithm-container {
  width: 100%;
  height: 100%;
  /* background-image: "./src/components/images/insertion-sort.svg"; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden; /* Para garantir que nada extrapole a área */
  position: relative; /* Para aplicar fundo */
}

.algorithm-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("./components/images/insertion-sort.svg");
  background-size: contain; /* Cobrir toda a área */
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Colocar a imagem atrás do conteúdo */
}


.algorithm-container.selection-sort::before {
  background-image: url('https://plus.unsplash.com/premium_photo-1661882403999-46081e67c401?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QWxnb3JpdG1vc3xlbnwwfHwwfHx8MA%3D%3D');
}

.algorithm-container.insertion-sort::before {
  background-image: url("./components/images/insertion-sort.svg");
}

.algorithm-container.merge-sort::before {
  background-image: url('https://plus.unsplash.com/premium_photo-1661882403999-46081e67c401?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QWxnb3JpdG1vc3xlbnwwfHwwfHx8MA%3D%3D');
}

.algorithm-container.shell-sort::before {
  background-image: url('https://plus.unsplash.com/premium_photo-1661882403999-46081e67c401?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QWxnb3JpdG1vc3xlbnwwfHwwfHx8MA%3D%3D');
}

.algorithm-container.quick-sort::before {
  background-image: url('https://plus.unsplash.com/premium_photo-1661882403999-46081e67c401?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QWxnb3JpdG1vc3xlbnwwfHwwfHx8MA%3D%3D');
}
