.sorting-algorithm {
    text-align: center;
  }
  
  .array-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .array-bar {
    width: 20px;
    margin: 0 5px;
    background-color: #90e0e0;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  